grant {
  // needed to allow gson to parse JSON to Map
  permission java.lang.RuntimePermission "accessDeclaredMembers";
  permission java.lang.reflect.ReflectPermission "suppressAccessChecks";

  // needed to find the classloader to load whitelisted classes.
  permission java.lang.RuntimePermission "createClassLoader";
  permission java.lang.RuntimePermission "getClassLoader";

  // needed to allow connections to Elasticsearch, can probably be defined
  // more strict.
  permission java.net.SocketPermission "*", "accept,connect,resolve";
  permission java.net.NetPermission "getProxySelector";
};